$colorVar1: blue;
$colorVar2: rgb(43, 235, 18);
$colorVar3: black;
$colorVar4: red;

.a{
    font:{
        size: 20px;
        family: sans-serif;
    }
    $colorVar1: rgb(137, 81, 229);
    color:$colorVar1;
}
.b{
    color:$colorVar2;
}
.c{
    color: $colorVar3;
}
.d{
    color: $colorVar4;
}